$max-width: 1100px;
$gutter: 20px;
$finger-size: 44px;
$border-radius: 3px;
$font-size: 16px;
$font-size-small: 0.9em;
$font-size--very-small: 0.7em;
//
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
$color-yellow: #fbbe00;
//
$font-family: "Open Sans", sans-serif;
