.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: $color-navy;
}

body{
    font-size: 16px;
    font-family: $font-family;
}

.button{
    display: inline-flex;
    align-items: center;
    height: $finger-size; // Inline elementler yüksekliği algılayamaz.
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-blue;
    color: white;
    font-weight: bold;
    border-radius: $border-radius;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}