.Header{
    border: 1px solid #ddd;

    .container{
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 64px;
    }
    &-logo{
        img { width: 144px;}
    }
    &-menu{
        margin-left: auto;
        display: flex;

        &-user{
            margin-right: 10px;
            display: flex;

            a{
                display: inline-flex;
                align-items: center;
                height: $finger-size; // inline elementler yüksekliği algılayamaz.
                padding-left: 20px;
                padding-right: 20px;

                &:hover{
                    background-color: #ddd;
                }
            }
        }

        &-helper{
            margin-left: 20px;
            display: flex;
            
            select{
                appearance: none;
                background-color: transparent;
                border: 1px solid #e0e6f1;
                padding-left: 10px;
                padding-right: 10px;
                height: $finger-size;
                border-radius: 0;

                &:nth-child(1){                    
                    border-bottom-left-radius: $border-radius;
                    border-top-left-radius: $border-radius;
                }
                &:nth-child(2){
                    border-left-width: 0;
                    border-bottom-right-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
            }
        }
    }    
}