.Navigation{
    background-color: $color-soft-blue;
    height: 50px;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;        
    }
    &-item{
        margin-right: 10px;
        font-size: $font-size-small;
    }
}