.Showcase{
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $color-navy;
}

.Search{
    background-color: $color-yellow;
    padding: 40px;
    box-shadow: 0 10px 40px rgba(black, .3);
    &-form{
        display: flex;
        position: relative;
    }
    .asd{
        position: absolute;
        right: 0;
    }
}